:root {
    --body-background-color: #fff;
    --text-color-base: #333;
}

$body-background-color: #fff;
$text-color-base: #333;

.text-primary {

}

.text-secondary {

}

.text-tertiary {

}

.bg-primary {

}

.bg-secondary {

}

.bg-tertiary {
    
}
